[Unit]
Description=Thing lists web server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/.cargo/bin/cargo run
WorkingDirectory=/root/lists

[Install]
WantedBy=multi-user.target
