[Unit]
Description=Thing lists web server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/home/droundy/thing-lists --domain lists.for-our.info
WorkingDirectory=/root/lists

[Install]
WantedBy=multi-user.target
