[contenteditable] {
    border-radius: 0.25em;
}

* {
    transition: background-color 0.5s ease-in-out;
}

body {
    color: #ffffe0;
    background-color: black;
}

main {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 0em;
    grid-auto-flow: row dense; */
    /* column-width: 15em;
    column-gap: 0.5em; */
}

h1 {
    font-size: 20px;
    margin-bottom: 1em;
}

button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #080;
    cursor: pointer;
}

#stopedit .material-icons, #startedit .material-icons {
    color: #00d;
    font-size: 24px;
    background-color: #55f;
    border-radius: 1em;
    padding: 0.5em;
}

#startedit, #stopedit {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 10;
}

.startedit {
    visibility: visible;
}

.newrow {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.newitem .material-icons, .delitem .material-icons {
    font-size: 14px;
}

.delitem {
    color: #700;
}

summary {
    display: inline-block;
}

details summary .material-icons {
    display: none;
}

details[draggable] summary .material-icons {
    -webkit-user-select: none;
    position: absolute;
    right: 0;
    top: 0.125em;
    display: inline-block;
}

details {
    break-inside: avoid-column;
    background-color: #111;
    border-radius: 0.5em;
    padding: 0.5em;
    grid-row: span 30;
    margin-bottom: 0;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.beingdragged {
    opacity: 0.4;
}

.droptarget {
    height: 0.001em;
    border: 0.5em solid black;
    break-before: avoid-column;
    transition: all 0.25s;
    border-radius: 10em;
}

.targeted {
    height: 1em;
    border: 1em solid black;
    background-color: #555;
}

details div {
    column-width: 20em;
}

details:nth-child(1) {
    grid-row: span 28;
}

details:nth-child(3) {
    grid-row: span 29;
}

details:not([open]) {
    grid-column: -2;
    grid-row: span 7;
}

.table {
    display: grid;
    grid-template-columns: fit-content(15em) fit-content(15em) fit-content(15em) fit-content(15em) fit-content(15em) fit-content(15em);
    grid-template-rows: masonry;
    gap: 0.25em;
}

.table .row {
    display: contents;
}

.row *:first-child {
    grid-column: 1;
}