[contenteditable] {
    border-radius: 0.25em;
}

* {
    transition: background-color 0.5s ease-in-out;
}

body {
    color: #ffffe0;
    background-color: black;
}

main {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 0em;
    grid-auto-flow: row dense; */
    /* column-width: 15em;
    column-gap: 0.5em; */
}

h1 {
    font-size: 20px;
    margin-bottom: 1em;
}

button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #080;
    cursor: pointer;
}

#stopedit .material-icons, #startedit .material-icons {
    color: #00d;
    font-size: 24px;
    background-color: #55f;
    border-radius: 1em;
    padding: 0.5em;
}

#startedit, #stopedit {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 10;
}

.startedit {
    visibility: visible;
}

.newrow {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.newitem .material-icons, .delitem .material-icons {
    font-size: 14px;
}

.delitem {
    color: #700;
}

summary {
    display: inline-block;
}

details summary .material-icons {
    display: none;
}

details[draggable] summary .material-icons {
    -webkit-user-select: none;
    position: absolute;
    right: 0;
    top: 0.125em;
    display: inline-block;
}

.col2 {
    width: 49%;
}
#colleft {
    float: left;
}
#colright {
    float: right;
}

.col3 {
    width: 33%;
    float: left;
    margin-right: 0.25em;
}

details {
    break-inside: avoid-column;
    background-color: #111;
    border-radius: 0.5em;
    padding: 0.25em;
    grid-row: span 30;
    margin-bottom: 0.5em;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    border-top: 0 solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.beingdragged {
    opacity: 0.4;
}

.targeted {
    border-top: 2em solid black;
}

details div {
    column-width: 20em;
}

details:nth-child(1) {
    grid-row: span 28;
}

details:nth-child(3) {
    grid-row: span 29;
}

details:not([open]) {
    grid-column: -2;
    grid-row: span 7;
}

.table {
    display: grid;
    grid-template-columns: repeat(1, [start] min-content min-content min-content min-content min-content min-content min-content);
    grid-template-rows: masonry;
    gap: 0.25em;
}

.row *:first-child {
    grid-column-start: start;
}

.table .row {
    display: contents;
}

.table .row div {
    white-space: nowrap;
}

/* @media screen and (min-width: 40em) {
    .table {
        grid-template-columns: repeat(2, [start] min-content min-content min-content min-content min-content min-content min-content);
    }
    .row:nth-child(even) *:first-child {
        grid-column-start: start 2;
    }
}

@media screen and (min-width: 60em) {
    .table {
        grid-template-columns: repeat(3, [start] min-content min-content min-content min-content min-content min-content min-content);
    }
    .row:nth-child(3n+1) *:first-child {
        grid-column-start: start 1;
    }
    .row:nth-child(3n+2) *:first-child {
        grid-column-start: start 2;
    }
    .row:nth-child(3n+3) *:first-child {
        grid-column-start: start 3;
    }
}

@media screen and (min-width: 80em) {
    .table {
        grid-template-columns: repeat(4, [start] min-content min-content min-content min-content min-content min-content min-content);
    }
    .row:nth-child(4n+1) *:first-child {
        grid-column-start: start 1;
    }
    .row:nth-child(4n+2) *:first-child {
        grid-column-start: start 2;
    }
    .row:nth-child(4n+3) *:first-child {
        grid-column-start: start 3;
    }
    .row:nth-child(4n+4) *:first-child {
        grid-column-start: start 4;
    }
} */