[contenteditable] {
    border-radius: 0.25em;
}

* {
    transition: background-color 0.5s ease-in-out;
}

body {
    color: #ffffe0;
    background-color: black;
}

main {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 0em;
    grid-auto-flow: row dense; */
    columns: 1;
    column-gap: 0.5em;
}

@media (min-width: 30em) {
    main {
        columns: 2;
    }
}

@media (min-width: 45em) {
    main {
        columns: 3;
    }
}

@media (min-width: 60em) {
    main {
        columns: 4;
    }
}

h1 {
    font-size: 20px;
    margin-bottom: 1em;
}

button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #080;
    cursor: pointer;
}

#stopedit .material-icons, #startedit .material-icons {
    color: #00d;
    font-size: 24px;
    background-color: #55f;
    border-radius: 1em;
    padding: 0.5em;
}

#startedit, #stopedit {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.startedit {
    visibility: visible;
}

.newrow {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.newitem .material-icons, .delitem .material-icons {
    font-size: 14px;
}

.delitem {
    color: #700;
}

summary {
    display: inline-block;
}

summary i {
    -webkit-user-select: none;
    position: absolute;
    right: 0;
    top: 0.125em;
}

details {
    -webkit-user-drag: element;
    break-inside: avoid-column;
    background-color: #111;
    border-radius: 0.5em;
    padding: 0.5em;
    grid-row: span 30;
    margin-bottom: 0.5em;
    position: relative;
}

details:nth-child(1) {
    grid-row: span 28;
}

details:nth-child(3) {
    grid-row: span 29;
}

details:not([open]) {
    grid-column: -2;
    grid-row: span 7;
}

.table {
    display: grid;
    grid-template-columns: fit-content(15em) fit-content(15em) fit-content(15em) fit-content(15em) fit-content(15em) fit-content(15em);
    grid-template-rows: masonry;
    gap: 0.25em;
}

.table .row {
    display: contents;
}

.row *:first-child {
    grid-column: 1;
}